# Copy this file to .env and fill in real values. Never commit .env!
OPENAI_API_KEY=sk-fake-replace-me
HUGGINGFACE_TOKEN=hf_fake-replace-me
LOG_LEVEL=info

# IF using Anthropic
ANTHROPIC_API_KEY=sk-ant-api03-PASTE-YOUR-REAL-KEY-HERE
LOG_LEVEL=info